h1 {
    display: flex;
    justify-content: center;
    font-family:sans-serif;
    align-items: center;
    border: 1px solid black;
    line-height: 10;
    margin-top: 20%;
    background-color: aquamarine;
}


nav  {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    border: 1px solid black;
}

p {
    display: flex;
    justify-content:center;
    align-content: space-around;
    border: 1px solid black;
}