html{
    height: 100%;
}

body{
    min-height: 100%;
}

main {
    height: 80%;
    display: flex;
    flex-direction: row;
    margin: 10%;
    width: 100vw;
    justify-content: space-between;
}

.div-container {
    display:flex;
    min-height:80vh;
    background-image: url("/Users/Virginia/wdi/projects/project-one-game/imgs/fullbk.jpg");
    background-size: cover;
    background-repeat: round;
    align-items: center;
}

.questions {
    display: flex;
    min-width: 50%;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 30px;
    background-color: aliceblue;
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.options  {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
    min-width: 50%;

}
.questions:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.option:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* .option2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

.option {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-transform: uppercase;
    background-color: aliceblue;
    width: 65%;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
}

.results {
    display: flex;
    visibility: hidden;
    border: 1px solid black;
    justify-content: center;
    border-radius: 25px;
    text-align: center;
    padding: 30px;
    background-color: aliceblue;
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: auto;
}


footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
    justify-content: space-evenly;
    height: 10%;
    padding: 10px;
}
footer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

header {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    text-shadow: 0 1px 0 black;
    color: grey;
    height: 10%;
    font-family: 'Marcellus', serif;
    text-transform: uppercase;
}

.nextQ {
    border: 1px solid black;
    padding: 5px;
    border-radius: 30px;
}
 
.Score {
    border: 1px solid black;
    padding: 5px;
    border-radius: 30px;
}